#footer{
    padding-bottom: 125px;
    .footer__wrapper{
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
        .footer__logo{
            width: 351px;
            p{
                @include peragraph(351px, 22px 0 50px 0, #888888);
            }
            h5{
                @include title(15px,150px,0,20px);
            }
            .followe__icon{
                display: flex;
                column-gap: 20px;
                .icon{
                    height: 40px;
                    width: 40px;
                    border: 2px solid $primary__color;
                    border-radius: 50%;
                    position: relative;
                    transition: all linear 0.3s;
                    i{
                        position: absolute;
                        left: 35%;
                        top: 50%;
                        transform: translateX(-50%);
                        transform: translateY(-50%);
                    }
                    &:hover{
                        background-color: $primary__color;
                        color: white;
                    }
                }
            }
        }
        .footer__item{
            width: 250px;
            h5{
                @include title(24px,190px,0,30px);
            }
            ul{
                text-transform: capitalize;
                li{
                    h6{
                       font-family: $secondary__font;
                       font-size: 20px;
                       color: #606060;
                       font-weight: 400;
                       padding-bottom: 30px;
                    }
                }
            }
        }
    }
}